// common variables re-used across application

$border-style: solid;
$margin-5: 5px;
$margin-10: 10px;
$padding-5: 5px;
$padding-10: 10px;
$border-color: #ccc;
$cursor-pointer: pointer;
$common-vh: 100vh;
$red-color: #ff0000;
$white-color: #fff;